# NEON POSTGRES - Database by Vercel

DATABASE_URL=postgres://neondb_owner:k28xzbyqVHgT@ep-blue-mouse-a46ebll0-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:k28xzbyqVHgT@ep-blue-mouse-a46ebll0.us-east-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-blue-mouse-a46ebll0-pooler.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-blue-mouse-a46ebll0.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=k28xzbyqVHgT

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres://neondb_owner:k28xzbyqVHgT@ep-blue-mouse-a46ebll0-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://neondb_owner:k28xzbyqVHgT@ep-blue-mouse-a46ebll0.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-blue-mouse-a46ebll0-pooler.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=k28xzbyqVHgT
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgres://neondb_owner:k28xzbyqVHgT@ep-blue-mouse-a46ebll0-pooler.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgres://neondb_owner:k28xzbyqVHgT@ep-blue-mouse-a46ebll0-pooler.us-east-1.aws.neon.tech/neondb?pgbouncer=true&connect_timeout=15&sslmode=require



# SUPERBASE POSTGRES - Database by Vercel

POSTGRES_URL="postgres://postgres.rdlmgxcylbzybdsweyss:X2dpLCUmkzd24jhd@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PRISMA_URL="postgres://postgres.rdlmgxcylbzybdsweyss:X2dpLCUmkzd24jhd@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_URL="https://rdlmgxcylbzybdsweyss.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://rdlmgxcylbzybdsweyss.supabase.co"
POSTGRES_URL_NON_POOLING="postgres://postgres.rdlmgxcylbzybdsweyss:X2dpLCUmkzd24jhd@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_JWT_SECRET="6/vwjVZGBcy7HSzGYsUP3/oicofSalWisJsEjp3qAXJFlBk3eZPuJijFsGbLN+7hyTxT3ckTFeI/XdZq7QfBqQ=="
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkbG1neGN5bGJ6eWJkc3dleXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzUwNzM1MjIsImV4cCI6MjA1MDY0OTUyMn0.tCBp4fyeHSzn58MOjywlsjd8QKYEVg0JriwZ4oGtFW4"
POSTGRES_PASSWORD="X2dpLCUmkzd24jhd"
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkbG1neGN5bGJ6eWJkc3dleXNzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNTA3MzUyMiwiZXhwIjoyMDUwNjQ5NTIyfQ.nXB5trOT2Cls_AAx0dSmMG_a2mv6jJzG1mrKD55DrcM"
POSTGRES_HOST="db.rdlmgxcylbzybdsweyss.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkbG1neGN5bGJ6eWJkc3dleXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzUwNzM1MjIsImV4cCI6MjA1MDY0OTUyMn0.tCBp4fyeHSzn58MOjywlsjd8QKYEVg0JriwZ4oGtFW4"